
<img src=".{{this.img}}" alt="">
<h2>Modelo: {{this.modelo}}</h2>
<p>Marca: {{this.marca}}</p>
<p>Cor: {{this.cor}}</p>
<p>Tipo de material: {{this.material}}</p>
<p>R$ {{this.preco}}</p>


<div class="container-comentarios">
    {{#each comentarios}}
       <p>{{ this}}</p>
    {{/each}}
</div>